<!-- This collects the information to use to query Rotten Tomatoes -->

<h2>Movie Search</h2>
<%= form_tag search_path, :method => 'get' do %>
<%= text_field_tag :movie, params[:movie] %>
<%= submit_tag "Search", :name => nil %>
<% end %>