<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">MediaMatch</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <li class="active"><div id="user-widget">

        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>
          <li href="#" data-reveal-id="myModal"><img src="http://i.imgur.com/bms9mE0.png"/></li>
          <div id="myModal" class="reveal-modal" data-reveal>
            <h2>Movie Search</h2>
            <input type="text" placeholder="Find a movie" ng-model="movieSearch">
            <button ng-click="search(movieSearch)" class="button radius tiny">Go</button><br/>
            <br>
            <hr>
            <div id="search_bookmark">
            <img class="thumb" src="http://i.imgur.com/JQXKilp.png"/>
            </div>
            <br>
            <div id="search_rating">
            <img class="thumb" src="http://i.imgur.com/2rfIZNx.png"/>
            {{movie.poster}}
            <img class="thumb" src="http://i.imgur.com/OFWYBsj.png"/>
            </div>
            <br>

            <a class="close-reveal-modal">&#215;</a>
          </div>

      </div>

        <li class="top-bar-icon"></li>
          <li class="has-dropdown">
            <a href="#"><img src="http://imgur.com/1AwQUsY.png"/></a>
            <ul class="dropdown">
              <li><a href="#">My movies</a></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <% end %>

      </div></li>

    </ul>
